
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";

}

@section Scripts {
    <script src="~/Scripts/Login.js"></script>
}

<div class="contents">
    <input type="text" placeholder="아이디" class="user-id"/>
    <input type="text" placeholder="비밀번호" class="user-password"/>
    <button class="submit-btn">로그인</button>
</div>