
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";

}

@section Scripts {
    <script src="~/Scripts/main.js"></script>
}

<div class="contents">
    <div class="userInputArea">
        <div class="userInputInfo">
            <label for="name">품목명</label>
            <input type="text" name="name" required />
        </div>
        <div class="userInputProductInfo">
            <div>
                <input type="radio"
                       id="rawmaterial"
                       name="product-type"
                       value="RawMaterial"
                       checked />
                <label for="rawmaterial">원재료</label>
            </div>

            <div>
                <input type="radio"
                       id="product"
                       name="product-type"
                       value="Product" />
                <label for="product">제품</label>
            </div>

            <div>
                <input type="radio"
                       id="goods"
                       name="product-type"
                       value="Goods" />
                <label for="goods">상품</label>
            </div>

            <button class="submit-btn">저장</button>
        </div>
    </div>
    <div class="productResults viewTable">
        <table border="1">
            <thead>
                <tr>
                    <th>품목명</th>
                    <th>타입</th>
                </tr>
            <thead />
            <tbody>
                <!-- 줄 시작 -->
                <tr>
                    <td>감자</td>
                    <td>상품</td>
                </tr>
                <!--  줄 끝 -->
                <!-- 줄 시작 -->
                <tr>
                    <td>감자</td>
                    <td>상품</td>
                </tr>
                <!--  줄 끝 -->
            </tbody>
        </table>
    </div>
</div>