
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="contents">
    <div class="userInputArea">
        <div class="userInputInfo">
            <span>조회기준일</span>
            <input type="date" />
            <button>조회</button>
        </div>
        <div class="userInputProductInfo">
            <label for="productName">품목명</label>
            <select name="name">
                <option value="감자">감자</option>
                <option value="고구마">고구마</option>
            </select>
            <label for="quantity">수량</label>
            <input type="number" name="quantity" required />
            <label for="date">날짜</label>
            <input type="text" name="date" />
            <button>저장</button>
        </div>
    </div>
    <div class="productResults viewTable">
        <table border="1">
            <thead>
                <tr>
                    <th>품목명</th>
                    <th>개수</th>
                    <th>날짜</th>
                </tr>
            <thead />
            <tbody>
                <!-- 줄 시작 -->
                <tr>
                    <td>감자</td>
                    <td>100</td>
                    <td>2022-11-11</td>
                </tr>
                <!--  줄 끝 -->
                <!-- 줄 시작 -->
                <tr>
                    <td>감자</td>
                    <td>100</td>
                    <td>2022-11-11</td>
                </tr>
                <!--  줄 끝 -->
            </tbody>
        </table>
    </div>
</div>