<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div style="height: 100px; background-color:beige;">
            <div class="navigation">
                <a href="../Hello/Product">품목</a>
                <a href="../Purchase/Purchase">구매</a>
                <a href="../Sale/Sale">판매</a>
                <a href="../Inventory/Inventory">재고</a>
                <a href="../Login/Login">로그인</a>
            </div>
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
